body {
  font-family: 'Roboto', sans-serif;

  margin: 0px;
}

.navbar {
  background-color: rgb(53, 62, 71);

  .container {
    height: 10vh;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;
  }

  .logo {
    cursor: pointer;

    .img {
      max-width: 175px;
    }
  }

  .menu {
    display: flex;

    width: 500px;
    justify-content: space-between;

    .item {
      color: rgb(189, 189, 191);
      text-transform: uppercase;
      cursor: pointer;
    }

    .item:first-child {
      color: rgb(41, 212, 86);
      font-weight: bold;
    }
  }
}

.container {
  display: flex;
  flex-flow: wrap;

  margin-right: auto;
  margin-left: auto;

  max-width: 1280px;
}

.shipment-list-collumn {
  height: 90vh;
  flex-basis: 37.5%;
  background-color: rgb(245, 244, 245);
  border-right: 1px solid #777;

  .shipment-card:first-child {
    border-top: none;
  }

  .selected:first-child {
    border-top: none;
  }
}

.shipment-selected-collumn {
  height: 90vh;
  flex-basis: 62.35%;
}

.no-shipment-selected {
  height: 90vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 22px;
    font-weight: bold;
  }
}

.loading {
  height: 90vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shipment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 25px 35px;
  background-color: rgb(245, 244, 245);
  border: 1px solid transparent;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      display: flex;
      align-items: center;
      font-weight: lighter;

      color: #777;
      font-size: 14px;

      svg {
        color: #777;
        margin-right: 10px;
      }
    }

    .fare {
      color: #777;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .stops {
    display: flex;
    margin-top: 10px;
    align-items: center;

    .stop-container {
      display: flex;
      align-items: center;
    }

    .next {
      font-weight: bold;
      color: #777;
      margin-right: 20px;
    }

    .stop {
      margin-right: 20px;

      .address {
        color: #515151;
        font-weight: bold;
      }

      .date {
        margin-top: 6px;
        color: #777;
        font-size: 12px;
        font-weight: lighter;
      }
    }
  }
}

.selected {
  margin-right: -1px;
  border: 1px solid #777;
  border-right: 2px solid #fff;
  background-color: rgb(255, 255, 255);

  -webkit-box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.lastLine {
  width: 90%;
  height: 1px;
  background-color: #777;
  margin: 0 auto;
  margin-top: 10px;
}

.shipment-selected {
  padding: 30px;

  .title {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #777;
  }

  .delivery-info-container {
    display: flex;
  }

  .map-container {
    padding: 10px 5px;

    .map {
      width: 100%;
      height: auto;
    }
  }

  .delivery-info {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    padding: 0px 20px;

    .kind-container {
      margin-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #777;

      .kind-title {
        margin-left: 32px;
        color: #777;
        font-size: 14px;
        font-weight: lighter;
        text-transform: uppercase;
      }
    }

    .kind {
      display: flex;
      margin-top: 10px;

      .index {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        color: #fff;
        background-color: #000;
        border-radius: 100%;

        margin-right: 10px;
      }

      .address {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .date {
        font-size: 14px;
        font-weight: lighter;
        color: #777;
      }
    }
  }

  .more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
    padding-bottom: 30px;
    border-bottom: 1px solid #777;

    .equipament-type {
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
      }
    }
  }
}
