body {
  font-family: 'Roboto', sans-serif;

  margin: 0px;
}

.navbar {
  background-color: rgb(53, 62, 71);

  .container {
    height: 10vh;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;
  }

  .logo {
    cursor: pointer;

    .img {
      max-width: 175px;
    }
  }

  .menu {
    display: flex;

    width: 500px;
    justify-content: space-between;

    .item {
      color: rgb(189, 189, 191);
      text-transform: uppercase;
      cursor: pointer;
    }

    .item:first-child {
      color: rgb(41, 212, 86);
      font-weight: bold;
    }
  }
}

.container {
  display: flex;
  flex-flow: wrap;

  margin-right: auto;
  margin-left: auto;

  max-width: 1280px;

  .col-inner {
    flex: 0 0 50%;
  }
}

.shipments {
  height: 90vh;
  background-color: rgb(245, 244, 245);
}

.loading {
  height: 85vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shipment {
  height: 125px;
  padding: 15px 25px;
  background-color: rgb(245, 244, 245);
  cursor: pointer;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      display: flex;
      align-items: center;
      font-weight: lighter;

      color: #777;
      font-size: 14px;

      svg {
        color: #777;
        margin-right: 10px;
      }
    }

    .fare {
      color: #777;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .stops {
    display: flex;
    margin-top: 10px;
    align-items: center;

    .next {
      font-weight: bold;
      color: #777;
      margin-right: 20px;
    }

    .stop {
      margin-right: 20px;

      .address {
        color: #515151;
        font-weight: bold;
      }

      .date {
        margin-top: 6px;
        color: #777;
        font-size: 12px;
        font-weight: lighter;
      }
    }
  }
}
